@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Alumni Sans Collegiate One', sans-serif;
  font-weight: 1200;
}

body {
  background-color: #0a0a0a;
  color: #8a8a8a;
}